.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.styles {
  width: 200px;
  margin: 20px auto;
}

.gameInfo {
  align-items: baseline;
  /* display: flex; */
  /* align-items: center; */
  /* margin-right: 50%; */
}
.active {
  font-weight: bold;
}

.active {
  background-image: radial-gradient(#3ec9f8, #5e6a91);
  border-radius: 6px;
  /* box-sizing: border-box; */
  color: #ffffff;
  display: block;
  height: 33px;
  font-size: 0.5em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 9em;
  z-index: 2;
}

.status {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-top: -9%;
  text-align: center;

  font-size: 40px;
  color: #080808;
}
/* .status {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: -9%;
  font-family: 'Courier New', Courier, monospace;
  /* color: aquamarine; */
/* text-align: center; */
/* }  */

.time {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -24%;
  /* margin-bottom: 44%; */
  margin-left: 70%;
}
