* {
  margin: 0%;
  padding: 0%;
  /* font: 16px 'Poppins', sans-serif; */
}

body {
  /* padding: 0%; */
  /* margin: 0%; */
  background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

/* .App { */
/* align-items: center; */
/* } */

.title {
  text-align: center;
  margin-top: 5%;
  justify-content: center;
}

ol,
ul {
  padding-left: 40px;
}

/* .board-row:after {
  clear: both;
  content: '';
  display: table;
} */

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10%;
  align-items: center;
}

.status {
  margin-bottom: 10px;
}

/* .square:focus {
  outline: none;
} */

/* .kbd-navigation .square:focus {
  background: #ddd;
} */

/* .game {
  display: flex;
  flex-direction: row;
} */

/* .game-info {
  margin-left: 20px;
} */
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}
